* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	border: none;
	outline: none;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background-image: url("../img/wood_pattern.jpg");
}

[class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}

.row {
	padding-left: 10px;
	padding-right: 10px;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/lato/Lato-Bold.ttf");
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/roboto-condensed/RobotoCondensed-Regular.ttf");
}

section {
	padding-bottom: 41px;
}

a {
	color: #000;
}

/*navigation------------*/

.navbar {
	background-color: rgb(128,180,18);
	color: #fff;
	font-size: 16px;
	margin-bottom: 0;
}


.social {
	width: 33.3%;
	float: left;
}


.navbar .navbar-brand {
	font-family: 'Exo 2', sans-serif;
	font-size: 12.65px;
	height: 100%;
	color: #fff;
}

.navbar-nav {
	float: right;
}

#navbar a {
	color: #fff;
	margin-left: 23px;
	padding: 0;
	line-height: 100px;
	margin-top: 0;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

#top-bar nav a:hover {
	background-color: initial;
	text-decoration: underline;
}

#top-bar nav a:focus {
	background-color: initial;
	outline: hidden;
}

.toggle_menu {
	width: 40px;
	height: 40px;
	background-color: #fff;
}
/*navigation-END*/


.s_title {
	text-align: center;
	overflow: hidden;
}

.in-line {
	position: relative;
	display: block;
}

.in-line:after, .in-line:before {
	content: "";
	position: absolute;
	top: 50%;
	height: 2px;
	width: 100%;
	background-color: #fff;
}

.in-line:before {
	margin-left: -100%;
}

h2 {
	margin: 0 13px;
	display: inline-block;
	line-height: 123px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}

section:nth-child(2n) .in-line:after, 
section:nth-child(2n) .in-line:before {
	background-color: #000;
}

section:nth-child(2n) h2 {
	color: #000;
}



#about_us {
	background-color: #fff;
}

#about_us ol {
	margin: 0;
	padding: 0;
	counter-reset: numeric;
}

#about_us ol li {
	list-style: none;
	margin-bottom: 14px;
}

#about_us ol li::before {
	counter-increment: numeric;
	content: counter(numeric);
	display: inline-block;
	background-color: rgb(128,180,18);
	margin-right: 9px;
	color: #fff;
	width: 19px;
	height: 19px;
	text-align: center;
	line-height: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 16px;
}

/*New item-------------*/

#latest_news {
	
}

.news_item {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	margin-bottom: 27px;
}

.news_item .post_thumbnail {
	width: 100%;
	position: relative;
}

.content {
	position: relative;
	margin-bottom: 45px;
}

.news_title {
	line-height: 17px;
	font-size: 23px;
	margin-bottom: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.news_date {
	font-style: italic;
	margin-bottom: 11px;
}

.news_data {
	font-size: 16px;
	line-height: 1.7;
}

.news_item img {
	width: 100%;
	height: auto;
}

.read {
	color: #fff;
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: rgb(128,180,18);
	padding: 10px;
	text-transform: uppercase;
}

.news_item:nth-child(even) .read {
	display: block;
	bottom: 20px;
	left: 20px;
	right: unset;
}
/*
.news_item:nth-child(even) .post_thumbnail {
	left: 100%;
	margin-left: 20px;
}

.news_item:nth-child(even) .content {
	right: 100%;
	margin-left: -20px;
	padding-right: 20px;
}*/

.news_item:nth-child(even) .col-md-6:nth-child(1) {
	left: 50%;
}

.news_item:nth-child(even) .col-md-6:nth-child(2) {
	right: 50%;
}


/*#testimonials--------------*/

#testimonials {
	margin-top: 34px;
	height: 500px;
	background-color: #fff;
	position: relative;
	/*margin-left: -15px;
	margin-right: -15px;*/
}

#testimonials:before {
	content: "";
	background: #fff none repeat scroll 0 0;
	height: 100px;
	margin: 0;
	position: absolute;
	top: -30px;
	transform: skew(0deg, -2deg);
	width: 100%;
	z-index: -1;
}

/*footer-----------*/

#footer {
	min-height: 325px;
	color: #d4d4d4;
	padding-bottom: 0;
}

#footer h4 {
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 31px;
	margin-bottom: 25px;
	font-size: 16px;
}

#footer p {
	margin-bottom: 28px;
	line-height: 1.8;
}

.copy {
	height: 51px;
	width: 100%;
	text-align: center;
	line-height: 51px;
	font-size: 11px;
	margin-top: 30px;
}

.widget {
	float: left;
}



/*TOP SLIDER ===============*/
#slider_top {
	padding-bottom: 0;
	position: relative;
	min-height: 700px;
	overflow: hidden;
}

.slider_info {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.slider_info .row {
	background-color: rgba(128,180,18,.8);
	color: #fff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.slider_info .icon {
	width: 75px;
	height: 75px;
	background-image: url("../img/disk.png");
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

.service:after {
	background-image: url("../img/service.png");
    content: "";
    height: 39px;
    left: 18px;
    position: absolute;
    top: 15px;
    width: 37px;
}

.experience:after {
	background-image: url("../img/experience.png");
	position: absolute;
	top: 15px;
	left: 15px;
	width: 46px;
	height: 43px;
	content: '50';
	vertical-align: middle;
	text-align: center;
	line-height: 45px;
}

.performance:after {
	background-image: url("../img/performance.png");
	position: absolute;
	top: 19px;
	left: 19px;
	width: 38px;
	height: 38px;
	content: '';
}

.slider_info [class*='col-']:before {
	background-color: #fff;
	content: "";
	height: 76px;
	left: 0;
	margin-top: 13px;
	position: absolute;
	width: 1px;
}

.slider_info [class*='col-']:first-child:before {
	display: none;
}

.slider {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slider ul {
	position: relative;
}

.slider ul li {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	transition: all .7s linear .1s;
}

.slider img {
	width: 100%;
	height: auto;
}

.slider .show {
	opacity: 1;
	transition: all .7s linear .1s;
}

.slider .slider-control {
	display: inline-block;
	color: #fff;
	position: absolute;
	right: 0;
	bottom: 50%;
	z-index: 10;
}

.slider .slide-nav {
	display: block;
	margin-bottom: 0;
	width: 24px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #304212;
	color: #fff;
	opacity: .83;
	cursor: pointer;
}
.slider .slide-nav-on {
	color: #000;
	background-color: rgb(128,180,18);
}

/*  Slider Testimonials  */

.slider-testimonials .slider-testimonials-slide {
	border: 2px solid #80b412;
	width: 665px;
	height: 160px;
	font-size: 22px;
	margin: 6px 4px;
	padding: 12px;
	overflow: hidden;
}

.slider-testimonials-slide img {
	width: 148px;
	height: auto;

	overflow: hidden;
	float: left;
	margin-right: 20px;
}
	
.slider-testimonials-slide p {
	line-height: 1.2;
}


.slider-testimonials-nav {
	width: 300px;
	margin: 0 auto;
	margin-top: 25px;
}

.slider-testimonials-nav .slick-slide {
	width: 110px;
	height: 80px;
}

.slider-testimonials-nav .slick-slide .img-wrap {
	overflow: hidden;
	width: 62px;
	height: 62px;
	border: 3px solid #000;
	border-radius: 31px;
	margin: 0 auto;
	margin-top: 9px;
	transition: all .2s linear .01s;
}

.slider-testimonials-nav .slick-slide img {
	width: auto;
	height: 100%;
}

.slider-testimonials-nav .slick-center .img-wrap {
	margin-top: 0px;
	border-color: #80b412;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	transition: all .2s linear .01s;

}

/**/

@media screen and (max-width: 991px) {


.news_item:nth-child(even) .col-md-6:nth-child(1) {
	left: 0;
}

.news_item:nth-child(even) .col-md-6:nth-child(2) {
	right: 0;
}

#slider_top {
	min-height: unset;
}

.slider_info, .slider {
	display: none;
}

}

.navbar-toggle {
	margin-top: 26px;
}


@media screen and (max-width: 767px) {

.navbar-nav {
	float: unset;
}

#navbar a {
	line-height: 50px;
}

}






