

header {
	-webkit-background-size: cover;
	background-size: cover;
	display: block;
	position: relative;
	padding-top: 87px;
}

p {
	line-height: 1.6em;
}

.btn {
	border-radius: initial;
	padding: 8px 36px;
	border: none;
}

.btn-primary {
	background-color: #5ac8fb;
}

.top_bar {
	border-bottom: 1px solid rgba(136,131,127,.5);
	display: block;
	width: 100%;
	background-color: rgba(0,0,0, .7);
	position: absolute;
	top: 0;
}

.logo {
	font-size: 30px;
	color: #eee;
	padding: 0;
	margin: 0;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
}

.logo:hover {
	color: #5ac8fb;
	text-decoration: none;
}

.logo:first-letter {
	color: #5ac8fb;
	font-size: 40px;
	font-weight: bold;
}

.navigation {
	float: right;
}

.navigation ul {
	margin: 0;
	padding: 0;
}

.navigation li {
	list-style: none;
	float: left;
}

.navigation li a {
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 3px;
	padding: 0 10px;
	display: inline-block;
	line-height: 85px;
}

.navigation li a:hover {
	text-decoration: none;
	color: #5ac8fb;
}

.navbar {
	margin-bottom: 0;
}

.navbar-fixed-top .navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
}

.navbar-toggle {
	margin-top: 16px;
}

.notification {
	text-align: center;
}

.notification .glyphicon {
	font-size: 28px;
	color: #5AC8FB;
}

h3 {
	text-align: center;
}

.n_desc {
	text-align: center;
	margin-bottom: 20px;
}

/*	TOP SLIDER	*/
#bs3-top-carousel {
	
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-top: -30px;
}

#bs3-top-carousel .carousel-inner > .item {
	height: 590px;
}

#bs3-top-carousel .carousel-caption {
	  margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 70%;
    
}

/*	TOP SLIDER END	*/


section {
	display: block;
	width: 100%;
	
}

.notification {
	min-height: 525px;		
	background-color: #fff;
	padding-top: 90px;
	padding-bottom: 60px;
}

.descr_bot {
	text-align: center;
	width: 100%;
	display: block;
	font-size: 22px;
	margin-top: 140px;
}

.descr_bot + p {
	text-align: center;
	font-size: 16px;
	vertical-align: bottom;
}

.descr_top {
	text-align: center;
	width: 100%;
	display: block;
	font-size: 22px;
}

.descr_top + p {
	text-align: center;
	font-size: 16px;
	vertical-align: bottom;
}


.top_gallery {
	max-width: 1900px;
	margin: 0 auto;
}

.top_gallery > img {
	margin: 0;
	padding: 0;
	width: 20%;
}

/*Four Section*/

.four_sec {
	padding-top: 90px;
	padding-bottom: 30px;
	min-height: 440px;
}

.four_sec img {
	width: 100%;
	padding: 0 10px;
}

h4 {
	font-size: 20px;
	padding-left: 8px;
	display: inline-block;
	border-left: 3px solid #5ac8fb;
	margin-bottom: 36px;
	line-height: 36px;
}

.four_sec p {
	
	display: inline-block;
	margin-bottom: 42px;
}

.four_sec ul {
	padding-left: 0;
}

.four_sec li {
	list-style-type: none;
}

.four_sec li:before {
	content: "> ";
	color: #5ac8fb;
}

/*Five section*/

.five_sec {
	position: relative;
	background: #656565;
	background-size: cover;
	background: no-repeat url("../img/five_bg.jpg");
	background-position: top center;
	background-size: 100% 100%;
	min-height: 450px;
	padding-top: 90px;
}

.overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.45);
	
}

.five_sec .descr_top, .five_sec .descr_top + p {
	color: #fff;
}

.five_sec .descr_top + p {
	margin-bottom: 20px;
}

.item {
	margin: 35px auto 35px;
	text-align: center;
	color: #fff;
}

.item_icon {
	background: #5ac8fb no-repeat center url("../img/android.png");
	border-radius: 50% 50%;
	width: 82px;
	height: 82px;
	margin: 0 auto 30px;
}

.item_descr {
	font-size: 16px;

}

.item_descr + p {
	font-size: 14px;
	margin-top: 6px;
}


/*Six section*/

.six_sec {
	min-height: 440px;
	padding-top: 90px;
}

.six_sec  {
	line-height: 20px;
}

/*SEVEN section*/

.seven_sec {
	background: #f7f7f7;
	padding-top: 90px;
	padding-bottom: 90px;
	min-height: 440px;
}

.photo {
	background-color: #e5e5e5;
	display: block;
	margin: 50px auto 32px;
	width: 95px;
	height: 95px;
	border-radius: 50% 50%;
	border: 3px solid #e5e5e5;
	padding: 3px;
}

.about {
	font-size: 18px;
	text-align: center;
}

.name {
	text-align: center;
	font-size: 16px;
	margin-top: 22px;
}

/*slider user*/

.slick-slider *:focus {
	border: none;
	outline: none;
}

.user_slider .slick-dots {
	bottom: -55px;
}

.user_slider .slick-arrow, .user_slider .slick-next {
	opacity: 0;
}

.user_slider .slick-dots li button:before {
	display: inline-block;
	border: 1px solid #5ac8fb;
	color: #5ac8fb;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
	content: "";
	opacity: 1;
}

.user_slider .slick-dots li.slick-active button:before {
	background-color: #5ac8fb;
	opacity: 1;
}

/*SECTION s_brand*/

.s_brand {
	width: 100%;
	height: 175px;
}

.brand_slider {
	height: 100%;
	vertical-align: middle;
	margin: 50px auto 0;
}

.brand_slider .slick-list {
	margin: 0 45px;
}

.brand_slider .slick-arrow {
	width: initial;
	height: initial;
}
.brand_slider .slick-prev {
	left: 0;
}

.brand_slider .slick-next {
	right: 0;
}

.brand_slider .slick-prev::before {
	content: "<";
}

.brand_slider .slick-next::before {
	content: ">";
}

.brand_slider .slick-prev::before, .brand_slider .slick-next::before {
	color: #5ac8fb;
	font-weight: bold;
	font-size: 38px;
	font-family: Arial;
}

.brand_slider .slick-slide {
	text-align: center;
}

.brand_slider .slick-slide img {
	display: inline;
}


/*Footer section*/

footer {
	color: #838383;
	min-height: 360px;
	background-color: #333333;
}

.footer-item h4 {
	color: #c9c9c9;
}

.footer-item {
	margin-top: 50px;
	margin-bottom: 50px;
}

.social_button a {
	display: inline-block;
	height: 16px;
	list-style: none;
	float: left;
	margin-right: 12px;
	width: 16px;
}

footer ul {
	padding-left: 20px;
}

.h-list li {
	margin-bottom: 10px;
}

.social:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

#twitter {
	background: url("../img/Social-Network-Twitter.png");
}

#facebook {
	background: url("../img/Social-Network-Twitter.png");
}

#youtube {
	background: url("../img/Social-Network-Twitter.png");
}

#github {
	background: url("../img/Social-Network-Twitter.png");
}

.footer_gallery a {
	display: block;
	float: left;
	margin-right: 7px;
	margin-top: 7px;
	border: 1px solid #888;
}

.footer_gallery img {
	width: 62px;
	height: 62px;
}

.footer_gallery img:last-child {
	margin-right: 0;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}


@media screen and (max-width: 767px) {

	.logo {
		margin-top: 0;
		margin-left: 5px;
	}

	.navigation {
		float: none;
	}
	.navigation ul li {
		float: none;
	}
	
	.navigation ul li a {

		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
		display: block;
		line-height: 20px;
		text-align: center;
		transition: color 0.2s ease-out 0s;
	}
/*
	.navigation ul li a:hover {
		background-color: rgba(0,0,0,0.3);
		transition: color 0.2s ease-out 0s;
	}
}*/



@keyframes blink {
	from {
		color: #eee;
	}
	to {
		color: #5ac8fb; 
	}
}


.logo:hover {
	animation: blink 1s infinite alternate;
	
}


@media (max-width: 768px){
	header {
		padding-top: 58px;
	}

	#bs3-top-carousel .carousel-inner > .item {
		height: 350px;
	}
}
