body {
	min-width: 320px;
	line-height: 1.6;
}

section {
	position: relative;
	padding: 70px 0 90px;
}

svg {
	height: 60px;
	width: 60px;
	z-index: 100;
	position: relative;
}

svg path {
	fill: #bbb;
}

a {
	color: rgb(98,85,249);
}

.main_head {
	min-height: 620px;
	background-color: #222;
	padding-top: 20px;
}

.logo_container {
	float: left;
}

.toggle_menu {
	background-color: black;
	width: 60px;
	height: 60px;
	position: fixed;
	z-index: 100;
	border: none;
	right: 20px;
	top: 20px;
}

.top_menu {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	z-index: 50;
	right: 0;
	top: 0;
	display: none;
}

.top_menu ul {
	text-align: center;
	margin: 0;
	margin-top: 150px;
	padding: 0;
}

.top_menu ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.top_menu ul li a {
	text-transform: uppercase;
	font-size: 20px;
	display: block;
	padding: 20px 0;
	letter-spacing: 7px;
	transition: background 0.5s, top 0.2s;
}

.top_menu ul li a:hover {
	color: #fff;
	background-color: rgba(50,50,50,.55);
	opacity: background .5;
	transition: all 0.5s, top 0.2s;
}

/*sandwich*/
.sandwich {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.sandwich span {
	display: block;
}

.sw-topper {
	position: relative;
	top: 2px;
	width: 40px;
	height: 5px;
	background: #fff;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}

.sw-bottom {
	position: relative;
	width: 40px;
	height: 5px;
	top: 14px;
	background: #fff;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}

.sw-footer {
	position: relative;
	width: 40px;
	height: 5px;
	top: 26px;
	background: #fff;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: all 0.5s;
	transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
	top: 20px;
	transform: rotate(140deg);
}

.sandwich.active .sw-bottom {
	top: 14px;
	transform: rotate(-140deg);
}

.sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	transform: rotate(180deg);
}
/*END sandwich*/

/*Descr centered*/

.top_wrap {
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: hidden;
}

.top_wrap .top_descr {
	display: table-row;
}

.top_wrap .top_descr .top_centered {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.top_wrap .top_text h1 {
	display: inline-block;
	font-weight: 600;
	color: #eee;
	border: 8px solid #eee;
	padding: 18px 70px;
	background-color: rgba(0,0,0,0.7);
	margin: 0;
	text-transform: uppercase;
	font-size: 2.8em;
	box-shadow: rgba(0,0,0,.3) 0 0 0 500px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	animation-delay: .5s;
	
}

.top_wrap .top_text p {
	color: #eee;
	font-size: 1.4em;
	margin: 0;
	text-transform: uppercase;
	color: #bbb;
	letter-spacing: 5px;
	padding: 0 5px;
	animation-delay: .7s;
}
/**/


/*section*/

#about {
	//z-index: 100;
}

section {
	overflow: hidden;
}

section h2 {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	margin: 0 0 10px;
}

.descr_wrap {
	text-align: center;
}

.descr_wrap .descr {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 4px;
	position: relative;
	margin-bottom: 110px;
}

.descr_wrap .descr::after {
	content: "";
	width: 150px;
	background-color: #222;
	height: 1px;
	position: absolute;
	left: 50%;
	margin-left: -75px;
	margin-top: 60px;
}

.bg_light {
	background-color: #eaeaea;
}

.bg_dark {
	background-color: #222; 
	color: #eee
}

.bg_dark .descr::after {
	background-color: #eee;
}

.main_footer {
	padding: 50px 0;
	font-size: 14px;
	color: #bbb;
	font-weight: 600;
}

#about h3 {
	text-align: center;
	text-transform: uppercase;
}

#about p {
	margin-bottom: 25px;
}

.personal-photo {
	text-align: center;
	margin-bottom: 30px;
}

.personal-photo img {
	max-width: 220px;
	border-radius: 50%;
	display: inline-block;
}

#about ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#about li {
	margin-bottom: 10px;
}

.social ul li {
	float: left;
	margin-right: 8px;
}

.social i {
	font-size: 20px;
}

.left {
	text-align: right;
	border-right: 1px solid #ccc;
}

.sec_resume h3 {
	font-weight: bold;
	font-size: 18px;
}

.sec_resume ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.year {
	font-size: 16px;
	font-style: italic;
	padding: 3px 16px;
	margin-bottom: 20px;
	background-color: rgb(98,85,249);
	display: inline-block;
	color: #ddd;
	font-weight: bold;
}

.resume_description {
	font-style: italic;
	font-size: 16px;
}

.resume_item strong {
	text-transform: uppercase;
}

/*Portfolio=========*/

.portfolio_gallery .portfolio_gallery_item {
	width: 25%;
	padding: 10px;
	float: left;
}

.portfolio_gallery h4 {
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	color: #fff;
}

.portfolio_gallery_img {
	overflow: hidden;
	height: 120px;
}

.portfolio_gallery img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border: none;
	/*width: 25%;
	height: auto;
	padding: 20px;
	display: block;*/
}

/*Contacts==========*/

.contact_box {
	margin-bottom: 20px;
}

.contact_box .fa {
	color: rgb(98, 85, 249);
	
}


/*form ====================*/

#form input, #form textarea {
	margin-bottom: 10px;
	padding: 10px;
	border: #fff;
	display: block;
	width: 100%;
}

#form input:focus, #form textarea:focus {
	box-shadow: 0 0 11px 4px #fff;
	outline-color: #fff;
}



#form button {
	border: none;
	color: #fff;
	line-height: 40px;
	padding: 0 25px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
	float: right;
	background-color: rgb(98, 85, 249)
}

/*FOOTER*/
footer .social {
	display: inline-block;
	float: right;
}

footer .social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
