@media only screen and (max-width: 795px) {
	.top_wrap .top_text h1 {
		font-size: 2.3em;
		padding: 10px 20px;
	}
	.top_wrap .top_text p {
		font-size: 1.1em;
	}
}

@media only screen and (max-width: 600px) {
	.top_wrap .top_text h1 {
		font-size: 1.9em;
		padding: 5px 15px;
	}
	.top_wrap .top_text p {
		font-size: 1.1em;
	}


	.portfolio_gallery .portfolio_gallery_item {
		width: 50%;
	}

}